<h2>Paises</h2>
<hr>

<ul class="list-group">
  <!-- <li routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">
    Home Page
  </li>
  <li routerLinkActive="active" routerLink="about" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">
    About Page
  </li> -->

  <li routerLinkActive="active" routerLink="countries/by-capital" [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item">
    Capital
  </li>

  <li routerLinkActive="active" routerLink="countries/by-country" [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item">
    Pais
  </li>

  <li routerLinkActive="active" routerLink="countries/by-region" [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item">
    Region
  </li>
</ul>
